pom.xml
pom.xml.asc
*.jar
*.class
.exercism/
/lib/
/classes/
target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.ionide/

#calva
.clj-kondo/
.calva/
.lsp/

# csharp
.vs/
bin/
obj/
.editorconfig